/* page settings */
@page { size: A6; margin: 0; }

a.btn{ width: 10em; }

/* print image */
/* sample { font-style: italic; } */
.sample { font-style: oblique; font-color: blue; }

.transform-italic {
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    transform: skewX(-15deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.26794919243112214, M21=0, M22=1, SizingMethod='auto expand')";
}

table.print {
    /*    position: absolute; */
    top: 10mm;
    left: 8mm;
    width: 84mm;
    height: 120mm;
    margin: 2 0 0 0;
    border-collapse: collapse;
    border: 1px #2222 solid;
}

/*table.print .iblock { display: inline-block; } */

table.print td {
    vertical-align: top;
    position: relative;
    border: none; /*1px solid; */
    border-color: white;
    border-collapse: separate;
    border-spacing: 0 0;
    background-color: #fefffe;
}

table caption {
    font-size: 20pt;
    height: 15mm;
}

table.print p {
    margin: 0.7mm;
    font-size: 10pt;
    font-family: sans-serif;
    width: 85.0mm;
}

table.print p.slot {
    top: 0mm;
    left: 40mm;
    background-color: #fefcfa;
}

table.print p.title {
    top: 0mm;
    left: 50mm;
    height: 8.2mm;
}

table.print p.authors {
    height: 8.2mm;
    font-size: 8pt;
}

table.print p.affiliation {
    height: 8.2mm;
    font-size: 8pt;
}

table.print p.summary {
    margin-top: 0.5em;
    /*    height: 94mm; */
    height: 50mm;
    font-family: serif;
}
